<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grabit</title>
    <script src="https://kit.fontawesome.com/c83c25f3af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="pw.css">
    <link rel="icon" type="image" href="pwlogo.jpeg">
</head>

<body>
    <!-- Nav Bar -->
    <header>
    <nav>
            <h1 class="logohover">GRabit</h1>
            <ul>
                <li class="slogan">The best deals,all in one place</li>
            </ul>
        </div>
        </div>
    </nav>
</header>

<!-- Search bar  -->
<div class="search">
    <form>
        <i class="fas fa-search"></i>
        <input id="search" type="text" placeholder="What you are looking for?" autofocus required>
        <button type="submit">Go</button>
    </form>
</div>

<!-- Hero Section -->
<main>
    <section id="hero">
        <div class="hero_content">
            <h1>Find What you're looking for!</h1>
            <h4>Best deals on the way</h4>
        </div>
        <div class="hero_image">
            <img src="pwmainp.jpeg" width="500px" height="500px"  alt="Graph">
        </div>
    </section>
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
